
  *,
  *::before,
  *::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;

  }

  .section1    {
      height: 100vh;
      width: 100vw;
      border: none;
      overflow: hidden;
  }

@keyframes slowZoom {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0); 
  }
  99% {
    transform: scale(2.5); 
    background-color: rgba(0, 0, 0, 1); 
  }
  100%{
    transform: scale(1);
  }
}

@keyframes darkenOverlay {
  0% {
    background-color: rgba(0, 0, 0, 0); 
  }
  100% { 
    background-color: rgba(0, 0, 0, 1); 
  }
}

.bannerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../assets/start_Screen_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.bannerBackground.animated {  
  animation-name: slowZoom;
  animation-duration: 2s; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;  /*1 for ikke infinte loop*/
}

.darkenOverlay  {
  pointer-events: none;
  opacity: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.darkenOverlay.animateOverlay {
  animation-name: darkenOverlay;
  animation-duration: 1.2s;
  animation-fill-mode: forwards; /* Ensure the animation effect persists after it completes */
  animation-iteration-count: 1;
}


.menuButton {
    font-size: 34px; 
    padding: 10px 30px;
    border-radius: 25px; 
    border: none; 
    background: rgba(135, 206, 235, 0.3); 
    color: white; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.7); 
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
    transition: all 0.3s ease;  
    width: 20vw;
    height: 6vh;
  }

  .menuButton:hover {
    background: rgba(135, 206, 235, 0.5); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);  
}


  .menuButton:active {
    background: rgba(135, 206, 235, 0.7); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    transform: translateY(2px); 
  }

  #skipText {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    font-size: 34px; 
    padding: 10px 30px;
    border-radius: 25px; 
    border: none; 
    background: rgba(135, 206, 235, 0.3); 
    color: white; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.7); 
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
    width: 20vw;
    height: 6vh;
  }

  #skipText:hover {
    background: rgba(135, 206, 235, 0.5); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);  
}


  #skipText:active {
    background: rgba(135, 206, 235, 0.7); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    transform: translateY(2px); 
  }



#scrollContainer {
  display: none;
  pointer-events: none;
  padding: 20px;
  height: 90vh;
  width: 50vw;
  position: absolute;
  overflow: hidden;
  color: white;
  line-height: 40px;
  font-size: x-large;
  font-style: italic;
}

#scroll-text {
  height: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 70s linear infinite;
  -webkit-animation: my-animation 70s linear infinite;
  animation: my-animation 70 linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}



    @media screen and (min-width: 601px) {
      .menuButton {
        font-size: 34px;
      }
    }
    

    @media screen and (max-width: 600px) {
      .menuButton {
        font-size: 12px;
      }
    }
    

    .section2    {
      display: none;
      height: 100vh;
      width: 100vw;
      border: none;
      overflow: hidden;
  }

    #bannerBackground2 {
      display: flex;
      height: 100%;
      width: 100%;
      background-image: url("../assets/main_Menu_Background.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      overflow: hidden;
    }

    .classSelection {
      width: 25%;
      height: 100svh;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
    }


    .gameStartMenu  {
      width: 25%;
      height: 100svh;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      right: 0;
    }
    
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px 4px;
    }

    .card {
      width: auto;
      height: 200px;
      border: 2px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative; 
    }

  .classSelectionText{
    position: absolute;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    top: 20px;
  }

    .card img {
      max-width: 90%;
      max-height: 90%;
    }

    .card.active {
      border-color: green;
    }

    #buttonMenu {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 40px;
      margin: 40px;
      
    }

    #buttonMenu:hover {
      color: #000;
    }

    #buttonMenu:active {
      color: #000;
    }
    
    #menuButton1, #menuButton2, #menuButton3 {
      font-size: 34px; 
      padding: 10px 30px;
      border-radius: 25px; 
      border: none; 
      background: rgba(135, 206, 235, 0.3); 
      color: white; 
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.7); 
      text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
      transition: all 0.3s ease;  
      width: 25vw;
      height: 8vh;
    }

    #menuButton1, #menuButton2, #menuButton3:hover {
      background: rgba(135, 206, 235, 0.5); 
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);  
  }
    